.elementor-102 .elementor-element.elementor-element-4202ca17 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: stretch;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-102 .elementor-element.elementor-element-4202ca17.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-102 .elementor-element.elementor-element-5e672078 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-102
  .elementor-element.elementor-element-5e672078:not(.elementor-motion-effects-element-type-background),
.elementor-102
  .elementor-element.elementor-element-5e672078
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-5eb0945
  > a {
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-5eb0945
  > a
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-5eb0945
  > a:hover {
  color: #4852ba;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-5eb0945
  > a:hover
  svg
  path {
  stroke: #4852ba;
  fill: #4852ba;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-404d637
  > a {
  color: #000000;
  background-color: rgba(161, 161, 161, 0);
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-404d637
  > a
  svg
  path {
  stroke: #000000;
  fill: #000000;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-404d637
  > a:hover {
  color: #1da1f2;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-404d637
  > a:hover
  svg
  path {
  stroke: #1da1f2;
  fill: #1da1f2;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-abbee8c
  > a {
  color: #222222;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-abbee8c
  > a
  svg
  path {
  stroke: #222222;
  fill: #222222;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .elementor-repeater-item-abbee8c
  > a:hover {
  background-color: #3b5998;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .ekit_social_media {
  text-align: right;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .ekit_social_media
  > li {
  display: inline-block;
  margin: 0px 6px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .ekit_social_media
  > li
  > a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 28px;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .ekit_social_media
  > li
  > a
  i {
  font-size: 21px;
}
.elementor-102
  .elementor-element.elementor-element-2ae55cbd
  .ekit_social_media
  > li
  > a
  svg {
  max-width: 21px;
}
.elementor-102 .elementor-element.elementor-element-275f976b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-102
  .elementor-element.elementor-element-275f976b:not(.elementor-motion-effects-element-type-background),
.elementor-102
  .elementor-element.elementor-element-275f976b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-102 .elementor-element.elementor-element-64e63bb1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 1px 6px;
  --row-gap: 1px;
  --column-gap: 6px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-102 .elementor-element.elementor-element-64e63bb1.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-102 .elementor-element.elementor-element-e46458e {
  width: var(--container-widget-width, 26%);
  max-width: 26%;
  --container-widget-width: 26%;
  --container-widget-flex-grow: 0;
  text-align: center;
}
.elementor-102 .elementor-element.elementor-element-e46458e.elementor-element {
  --align-self: flex-start;
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-102 .elementor-element.elementor-element-e46458e img {
  width: 100%;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger:hover {
  background-color: #f2cf86;
}
.elementor-102 .elementor-element.elementor-element-4ca788f3 {
  width: auto;
  max-width: auto;
  z-index: 15;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  > .elementor-widget-container:hover {
  --e-transform-scale: 0.9;
}
.elementor-102 .elementor-element.elementor-element-4ca788f3.elementor-element {
  --align-self: center;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-container {
  height: 70px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a {
  font-family: "friends", Sans-serif;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0px 15px 0px 15px;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:hover {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:focus {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:active {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li:hover
  > a {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li:hover
  > a
  .elementskit-submenu-indicator {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:hover
  .elementskit-submenu-indicator {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:focus
  .elementskit-submenu-indicator {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a:active
  .elementskit-submenu-indicator {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a
  .elementskit-submenu-indicator {
  color: #021343;
  fill: #021343;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  > li
  > a
  .ekit-submenu-indicator-icon {
  color: #021343;
  fill: #021343;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 0px 7px 0px;
  color: #000000;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:hover {
  color: #121147;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:focus {
  color: #121147;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li
  > a:active {
  color: #121147;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li:hover
  > a {
  color: #121147;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel
  > li.current-menu-item
  > a {
  color: #707070 !important;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-submenu-panel {
  padding: 15px 15px 15px 25px;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-navbar-nav
  .elementskit-submenu-panel {
  border-radius: 0px 0px 0px 0px;
  min-width: 220px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger {
  float: right;
  border-style: solid;
  border-color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger
  .elementskit-menu-hamburger-icon {
  background-color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger
  > .ekit-menu-icon {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger:hover
  .elementskit-menu-hamburger-icon {
  background-color: rgba(255, 255, 255, 0.5);
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-hamburger:hover
  > .ekit-menu-icon {
  color: rgba(255, 255, 255, 0.5);
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-close {
  color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-4ca788f3
  .elementskit-menu-close:hover {
  color: rgba(0, 0, 0, 0.5);
}
.elementor-102 .elementor-element.elementor-element-cef444b.elementor-element {
  --order: 99999 /* order end hack */;
}
.elementor-102 .elementor-element.elementor-element-cef444b .th_btn i {
  margin-left: 8px;
}
.elementor-102 .elementor-element.elementor-element-cef444b .btn-wrapper {
  text-align: center;
}
.elementor-102 .elementor-element.elementor-element-cef444b .th_btn {
  font-family: "friends", Sans-serif;
  font-size: 34px;
  font-weight: 500;
  --theme-color: #f2cf86;
}
.elementor-102
  .elementor-element.elementor-element-cef444b
  .th_btn
  .btn-border {
  --white-color: #000000 !important;
  --title-color: #f2cf86 !important;
}
.elementor-102 .elementor-element.elementor-element-cef444b .th_btn:before {
  background-color: #000000;
}
.elementor-102 .elementor-element.elementor-element-cef444b .th_btn:after {
  background-color: #000000;
}
@media (max-width: 1024px) {
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    > .elementor-widget-container {
    margin: 0px -10px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li
    > a
    i {
    font-size: 12px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li
    > a
    svg {
    max-width: 12px;
  }
  .elementor-102 .elementor-element.elementor-element-275f976b {
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-nav-identity-panel {
    padding: 10px 0px 10px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-menu-container {
    max-width: 350px;
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-navbar-nav
    > li
    > a {
    color: #000000;
    padding: 10px 15px 10px 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-navbar-nav
    .elementskit-submenu-panel
    > li
    > a {
    padding: 15px 15px 15px 15px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-navbar-nav
    .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-menu-hamburger {
    padding: 8px 8px 8px 8px;
    width: 45px;
    border-radius: 3px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-menu-close {
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
    width: 45px;
    border-radius: 3px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-nav-logo
    > img {
    max-width: 160px;
    max-height: 60px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-nav-logo {
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
  }
}
@media (max-width: 767px) {
  .elementor-102 .elementor-element.elementor-element-4202ca17 {
    --width: 100%;
  }
  .elementor-102 .elementor-element.elementor-element-5e672078 {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --padding-top: 10px;
    --padding-bottom: 6px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .elementor-repeater-item-5eb0945
    > a {
    color: #000000;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .elementor-repeater-item-5eb0945
    > a
    svg
    path {
    stroke: #000000;
    fill: #000000;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .elementor-repeater-item-404d637
    > a {
    color: #000000;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .elementor-repeater-item-404d637
    > a
    svg
    path {
    stroke: #000000;
    fill: #000000;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media {
    text-align: center;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li
    > a {
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 45px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li
    > a
    i {
    font-size: 21px;
  }
  .elementor-102
    .elementor-element.elementor-element-2ae55cbd
    .ekit_social_media
    > li
    > a
    svg {
    max-width: 21px;
  }
  .elementor-102 .elementor-element.elementor-element-275f976b {
    --content-width: 100%;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --flex-wrap: nowrap;
  }
  .elementor-102 .elementor-element.elementor-element-64e63bb1 {
    --width: 92%;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-102 .elementor-element.elementor-element-64e63bb1.e-con {
    --align-self: center;
  }
  .elementor-102 .elementor-element.elementor-element-e46458e {
    width: var(--container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    text-align: center;
  }
  .elementor-102 .elementor-element.elementor-element-e46458e img {
    max-width: 100%;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-menu-hamburger {
    border-width: 1px 1px 1px 1px;
  }
  .elementor-102
    .elementor-element.elementor-element-4ca788f3
    .elementskit-nav-logo
    > img {
    max-width: 120px;
    max-height: 50px;
  }
}
@media (min-width: 768px) {
  .elementor-102 .elementor-element.elementor-element-5e672078 {
    --content-width: 100%;
  }
  .elementor-102 .elementor-element.elementor-element-275f976b {
    --content-width: 92%;
  }
  .elementor-102 .elementor-element.elementor-element-64e63bb1 {
    --width: 100%;
  }
}
