/*
 Theme Name:   Bame Child  
 Theme URI:    https://wordpress.themeholy.com/bame/
 Description:  This is a child theme for Bame - WordPress Theme
 Author:       Themeholy
 Author URI:   https://themeforest.net/user/themeholy 
 Template:     bame
 Version:      1.0
 Tags:         two-columns, three-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, theme-options, editor-style, featured-images, microformats, post-formats,  sticky-post, threaded-comments, translation-ready
 Text Domain:  bame-child
*/

/*  [ Add your custom css below ]
- - - - - - - - - - - - - - - - - - - - */
